{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'reviews/style.css' %}" />
        <meta charset="utf-8"/>
    </head>
    <body>
        <header class="header-container">
            <div class="semi-header-container">
                <h2>LITReview</h2>
            </div>
            <div class="semi-header-container">
                <a href="{% url 'flow' %}">Flux</a>
                <a href="{% url 'my_posts' %}">Mes Posts</a>
                <a href="{% url 'user_follows' %}">Abonnements</a>
                <a href="{% url 'login' %}">Se deconnecter</a>
            </div>
        </header>
        {% block content %}{% endblock content %}
    </body>
</html>