{% extends 'reviews/base.html' %}
{% load utils %}
{% block content %}
<div class="main-container">
    <div class="content-creation-block">
        <button type="submit" class="content-creation" onclick="location.href='{% url 'create_review' %}'">Créer une critique</button>
        <button type="submit" class="content-creation" onclick="location.href='{% url 'create_ticket' %}'">Demander une critique</button>
    </div>
    <div class="flow">
        {% for element in flow_elements %}
            {% if element|model_type == 'Ticket' %}
                <div class="ticket">
                    {% include 'reviews/ticket.html' %}
                    {% if not element.is_ticket_reviewed %}
                        <div class="container-button-action">
                            <button class="button" type="submit" onclick="location.href='{% url 'review_ticket' element.id %}'">Créer une critique</button>
                        </div>
                    {% endif %}
                </div>
            {% elif element|model_type == 'Review' %}
                <div class="review">
                    {% include 'reviews/review.html' %}
                </div>
            {% endif %} 
        {% endfor %}
    </div>
</div>
{% endblock content %}