{% extends 'reviews/base.html' %}
{% load utils %}
{% block content %}
<div class="main-container">
    <div class="content-creation-block">
        <button type="submit" class="content-creation" onclick="location.href='{% url 'create_review' %}'">Créer une critique</button>
        <button type="submit" class="content-creation" onclick="location.href='{% url 'create_ticket' %}'">Demander une critique</button>
    </div>
    <div class="flow">
        {% for element in flow_elements %}
            {% if element|model_type == 'Ticket' %}
                {% include 'reviews/ticket.html' %}
            {% elif element|model_type == 'Review' %}
                {% include 'reviews/review.html' %}
            {% endif %} 
        {% endfor %}
    </div>
</div>
{% endblock content %}