{% extends 'reviews/base.html' %}
{% block content %}
<div class="main-container">
    <h3>{{ action }}</h3>
    <div class="review-container">
        <form method="post">
            <div class="ticket-container">
                <h4>Livre / Article</h4>
                {{ ticket_form.as_p }}
            </div>
            <div class="review-container">
                <h4>Critique</h4>
                {{ review_form.as_p }}
            </div>
            {% csrf_token %}
            <div class="content-buttons">
                <button class="button" onclick="location.href='{% url 'my_posts' %}'">Retour</button>
                <button type="submit" class="button">Envoyer</button>
            <div>
        </form>
    </div>
</div>
{% endblock content %}