{% extends 'reviews/base.html' %}
{% block content %}
<div class="main-container">
    <div class="container">
        <h3>Suivre d'autres utilisateurs</h3>
        <p class="message">{{message}}</p>
        <form method="post" class="container-follows-form">
            {{form.as_p}}
            {% csrf_token %}
            <button type="submit" class="button">Envoyer</button>
        </form>
    </div>
    <h3>Abonnements:</h3>
    <div class="container-user-follows">
        {% for user_follows in followed_by_connected_user %}
            <div class="container-following">
                <p>{{user_follows.followed_user.username}}</p>
                <button type="submit" class="unfollow-button" onclick="location.href='{% url 'user_unfollow' user_follows.id %}'">Se désabonner</button>
            </div>
        {% endfor %}
    </div>
    <h3>Abonnés:</h3>
    <div class="container-user-follows">
        {% for user_follows in following_connected_user %}
            <p>{{user_follows.user.username}}</p>
        {% endfor %}
    <div>
</div>
{% endblock content %}